In [1]:
import dash
import dash_table
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from dash.dependencies import Input, Output
app =  dash.Dash()
server =  app.server
colors = {
    'background': '#111111',
    'text': '#7FDBFF'
}

In [2]:
df = pd.read_csv('amazon.csv',encoding='latin1')

#MONTHS TO ENGLISH
span_to_eng = {
    'Janeiro':'January',
    'Fevereiro': 'February',
    'Março':'March',
    'Abril':'April',
    'Maio':'May',
    'Junho':'June',
    'Julho':'July',
    'Agosto':'August',
    'Setembro':'September',
    'Outubro': 'October',
    'Novembro': 'November',
    'Dezembro':'December'    
}
df['month'] = df['month'].map(span_to_eng)
available_indicators = df['month'].unique()
df.head()

   year state    month  number        date
0  1998  Acre  January     0.0  1998-01-01
1  1999  Acre  January     0.0  1999-01-01
2  2000  Acre  January     0.0  2000-01-01
3  2001  Acre  January     0.0  2001-01-01
4  2002  Acre  January     0.0  2002-01-01

In [3]:
df.isnull().sum()

year      0
state     0
month     0
number    0
date      0
dtype: int64

In [4]:
df_max = pd.DataFrame(df.groupby(['year','state','month']).number.sum())

In [5]:
df_sum_state = pd.DataFrame(df_max.groupby(['state']).number.sum())
df_sum_state = df_sum_state.sort_values(by=['number'], ascending=False)
df_sum_state = df_sum_state.reset_index(drop=False)
df_sum_stat = df_sum_state[df_sum_state.number == df_sum_state.number.max()]
df_sum_state

               state     number
0        Mato Grosso  96246.028
1            Paraiba  52435.918
2          Sao Paulo  51121.198
3                Rio  45160.865
4              Bahia  44746.226
5               Piau  37803.747
6              Goias  37695.520
7       Minas Gerais  37475.258
8          Tocantins  33707.885
9           Amazonas  30650.129
10             Ceara  30428.063
11          Maranhao  25129.131
12              Pará  24512.144
13        Pernambuco  24498.000
14           Roraima  24385.074
15    Santa Catarina  24359.852
16             Amapa  21831.576
17          Rondonia  20285.429
18              Acre  18464.030
19    Espirito Santo   6546.000
20           Alagoas   4644.000
21  Distrito Federal   3561.000
22           Sergipe   3237.000

In [6]:
df_sum_year = pd.DataFrame(df_max.groupby(['year']).number.sum())
df_sum_year = df_sum_year.sort_values(by=['number'],ascending=False)
df_sum_year = df_sum_year.reset_index(drop=False)
df_sum_yea = df_sum_year[df_sum_year.number == df_sum_year.number.max()]
df_sum_year

    year     number
0   2003  42760.674
1   2016  42212.229
2   2015  41208.292
3   2012  40084.860
4   2014  39621.183
5   2009  39117.178
6   2004  38453.163
7   2002  37390.600
8   2010  37037.449
9   2017  36685.624
10  2013  35146.118
11  2005  35004.965
12  2011  34633.545
13  2006  33832.161
14  2007  33037.413
15  2008  29378.964
16  2001  29071.612
17  2000  27351.251
18  1999  26882.821
19  1998  20013.971

In [7]:
df['key'] = df.month.map(str)+'-'+df.year.apply(str)
df_sum_yr_month = pd.DataFrame(df.groupby(['key']).number.sum())
df_sum_yr_month = df_sum_yr_month.sort_values(by=['number'], ascending=False)
df_sum_yr_month = df_sum_yr_month .reset_index(drop=False)
df_sum_yr_mont = df_sum_yr_month[df_sum_yr_month.number == df_sum_yr_month.number.max()]
df_sum_yr_month

               key    number
0      August-2006  7338.127
1        July-2016  7105.048
2        July-2002  6825.932
3      August-2000  6524.693
4     October-2009  6239.980
..             ...       ...
234   January-1998     0.000
235  February-1998     0.000
236     March-1998     0.000
237       May-1998     0.000
238     April-1998     0.000

[239 rows x 2 columns]

In [8]:
df['key'] = df.month.map(str)+'-'+df.year.apply(str)
df['country']= 'Brazil'
hover_text = []

#define hover text
for index, row in df.iterrows():
    hover_text.append(('Country: {country}<br>'+
                      'State: {state}<br>'+
                      'Fires: {number}<br>'+
                      'Year: {year}').format(country=row['country'],
                                            state=row['state'],
                                            number=row['number'],
                                            year=row['year']))
df['text'] = hover_text

In [9]:
df_acre = df[df.state =='Acre']
df_alagoas = df[df.state =='Alagoas']
df_amapa = df[df.state =='Amapa']
df_amazonas = df[df.state =='Amazonas']
df_bahia = df[df.state =='Bahia']
df_ceara = df[df.state =='Ceara']
df_distrito = df[df.state =='Distrito Federal']
df_esperito = df[df.state =='Esperito Santo']
df_goias = df[df.state =='Goias']
df_maranhao = df[df.state =='Maranhao']
df_mato = df[df.state =='Mato Grosso']
df_minas = df[df.state =='Minas Gerais']
df_para = df[df.state =='Pará']
df_paraiba= df[df.state =='Paraiba']
df_perna = df[df.state =='Pernambuco']
df_goias = df[df.state =='Piau']
df_rio = df[df.state =='Rio']
df_rondo = df[df.state =='Rondonia']
df_roraima = df[df.state =='Roraima']
df_santa = df[df.state =='Santa Catarina']
df_sao = df[df.state =='Sao Paulo']
df_sergipe = df[df.state =='Sergipe']
df_tocantins = df[df.state =='Tocantins']

#Data frame styling

style_table={
                'maxHeight': '50ex',
                'overflowY': 'scroll',
                'width': '30%',
                'minWidth': '30%',
            }

style_cell={
                'fontFamily': 'Open Sans',
                'textAlign': 'center',
                'height': '30px',
                'padding': '10px 22px',
                'whiteSpace': 'inherit',
                'overflow': 'hidden',
                'textOverflow': 'ellipsis',
            }
style_cell_conditional=[
                {
                    'if': {'column_id': 'State'},
                    'textAlign': 'left'
                },
            ]
style_header={
                'fontWeight': 'bold',
                'backgroundColor': "#3D9970",
                'fontSize':'16px'
            }
style_data_conditional=[
                {
                    # stripped rows
                    'if': {'row_index': 'odd'},
                    'backgroundColor': 'rgb(248, 248, 248)'
                }]
style_table={
                'maxHeight': '50ex',
                'overflowY': 'scroll',
                'width': '100%',
                'minWidth': '100%',
            }

In [12]:
colors = {
    'background': '#111111',
    'text': '#7FDBFF'
}


external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
     
# #App
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

app.layout =  html.Div(children=[
    html.H1(
        children='Brazil Forest Fires',
        style={
            'textAlign': 'center',
            'color': 'green'
        }
    ),
    dcc.Tabs(id='tabs-example', value='tab', children=[
        dcc.Tab(label='Fire per state', value='tab-1'),
        dcc.Tab(label='Fires per year', value='tab-2'),
        dcc.Tab(label='Fires per year and month', value='tab-3'), 
    ]),
    html.Div(id='tabs-example-content')
])


@app.callback(Output('tabs-example-content', 'children'),
              [Input('tabs-example', 'value')])

def render_content(tab):  
    if tab == 'tab-1':
                return html.Div([
        html.Div([
            html.Div([
                html.H1(
                        children='Table',
                        style={
                            'textAlign': 'center',
                            'color': 'green'
                        }), dash_table.DataTable(
                            id='table',
                        # data import
                            data=df_sum_state.to_dict("rows"),
                            columns=[{"name": i, "id": i} for i in df_sum_state.columns],
                            style_table= style_table,
                            style_cell= style_cell,
                            style_data_conditional= style_data_conditional,
                            style_header=style_header,
                            style_cell_conditional=style_cell_conditional,
                        )

            ], className="four columns"),

            html.Div([
                html.H3('Fires per state in Brazil', 
                        style={
                            'textAlign': 'center',
                            'color': 'green'}),
                dcc.Graph(
                            id='Graph1',
                            figure={
                                'data': [
                                    {'x': df.state, 'y': df.number, 'type': 'bar', 'name': 'state','marker': {'color': ['#b50000', '#e63535', '#fa8989'],'size': 9,'line': {'width': 1, 'color': 'orange'}}},
                                ]
                            }
                        )
            ], className="eight columns"),
        ], className="row")
    ])

    elif tab == 'tab-2': 
                return html.Div([
        html.Div([
            html.Div([
                html.H1(
                        children='Table',
                        style={
                            'textAlign': 'center',
                            'color': 'green'
                        }), dash_table.DataTable(
                            id='table',
                        # data import
                            data=df_sum_year.to_dict("rows"),
                            columns=[{"name": i, "id": i} for i in df_sum_year.columns],
                            style_table= style_table,
                            style_cell= style_cell,
                            style_data_conditional= style_data_conditional,
                            style_header=style_header,
                            style_cell_conditional=style_cell_conditional,
                        )

            ], className="four columns"),

            html.Div([
                html.H3('Fires in Brazil per year',
                       style={
                            'textAlign': 'center',
                            'color': 'green'}
                       ), dcc.Graph(
                            id='Graph1',
                            figure={
                                'data': [
                                    {'x': df.year, 'y': df.number, 'type': 'bar', 'name': 'state','marker': {'color': ['#b50000', '#e63535', '#fa8989'],'size': 9,'line': {'width': 1, 'color': 'orange'}}},

                                ]

                            }

                        )
            ], className="eight columns"),
        ], className="row")
    ])
           
    else:  
       
        return html.Div([
        html.Div([
            html.Div([
               html.H1(
                        children='Table',
                        style={
                            'textAlign': 'center',
                            'color': 'green'
                        }), dash_table.DataTable(
                            id='table',
                        # data import
                            data=df_sum_yr_month.to_dict("rows"),
                            columns=[{"name": i, "id": i} for i in df_sum_yr_month.columns],
                            style_table= style_table,
                            style_cell= style_cell,
                            style_data_conditional= style_data_conditional,
                            style_header=style_header,
                            style_cell_conditional=style_cell_conditional,
                        )

            ], className="four columns"),

            html.Div([
                html.H3('Forest fires per month and year', style={
                            'textAlign': 'center',
                            'color': 'green'}
                       ), dcc.Graph(
                            id='Graph1',
                            figure={
                                'data': [
                                    {'x': df.key, 'y': df.number, 'type': 'bar', 'name': 'state','marker': {'color': ['#b50000', '#e63535', '#fa8989'],'size': 9,'line': {'width': 1, 'color': 'orange'}}},

                                ],
                                
                            }
                        )
            ], className="eight columns"),
        ], className="row")
    ])

if __name__ == '__main__':
    app.run_server()